<div class="item">
      <div class="cover">
            <em >{{index+1}}</em>
            <a  (click)="onClicked(info.alt)" >
                  <img [alt]="info.title" [src]="info.images.small " class="">
                     <!--<img alt="{{info.title}}" src="{{info.images.large}} " class="">-->
            </a>
      </div>
      <div class="summary">
            <div class="hd">
                  <a [href]="info.alt" class="">
                        <span class="title">{{info.title}}</span>
                        <span class="title">{{info.original_title}}</span>
                        <!--<span class="other">{{rank.alias</span>-->
                  </a>
                  <span class="playable">[可播放]</span>
            </div>
            <div class="bd">
                  <p class="">
                        导演: <span *ngFor="#d of info.directors; #isLast = last">{{d.name}}<span *ngIf="!isLast">/</span></span>&nbsp;&nbsp;&nbsp;
                        主演: <span *ngFor="#c of info.casts; #isLast = last ">{{c.name}}<span *ngIf="!isLast">/</span></span>...<br>
                        <span>{{info.year}}</span>&nbsp;/&nbsp;
                        <span *ngFor="#g of info.genres; #isLast = last">{{g}}<span *ngIf="!isLast">/</span></span>
                  </p>                      
                  <div class="star">
                        <span class="rating" [style.background-position]="position()"></span>
                        <span class="avg">{{info.rating.average}}</span>
                        <span>{{info.collect_count}}人评价</span>
                  </div>
            </div>
      
      </div>
      <div class="clear"></div>
</div>
